/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f0e5; /* Cambio en el color de fondo */
    color: #333; /* Color del texto principal */
}

/* Estilos de la sección principal */
.main-section {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    text-align: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

/* Estilos del formulario */
.form-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%; 
    max-width: 400px;
    margin-bottom: 20px; 
}

h2 {
    color: #e15e6e; 
    margin-bottom: 30px; 
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #66c0e6; /* Color5 */
}
input[type="text"] {
    width: calc(100% - 22px); /* Ajuste del ancho del input */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    margin-top: 20px; /* Aumento del espacio superior */
}

button {
    padding: 10px 30px; /* Aumento del espacio alrededor del botón */
    background-color: #e0c4ae; /* Nuevo color para el botón */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d99973; /* Cambio en el color de fondo al pasar el cursor */
}

/* Estilos del contenedor de resultados */
.result-container {
    background-color: #c3e6d4;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #333;
    width: 100%; /* Ancho al 100% */
    max-width: 400px; /* Máximo ancho del contenedor */
    margin-bottom: 20px;
}

/* Estilos del footer */
footer {
    position: fixed; /* Fija la posición del footer */
    bottom: 0; 
    width: 100%; 
    background-color: #f4f0e5; 
    padding: 20px; 
    text-align: center; 
    box-sizing: border-box; 
}

footer p {
    margin: 0; /* Elimina el margen por defecto */
}

footer button {
    padding: 10px 20px;
    background-color: #b39980;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #8c998c;
}
